---
layout: default
title: "Home"
---

<div class="container">
  <section class="about">
    <h2>About Allen</h2>
    <div class="profile-image-container">
        <img id="github-avatar" alt="GitHub Profile Image" />
    </div>
    <p>Currently studying at <strong>grit:lab</strong> to become a full stack developer.</p>

    <p>What draws me to programming is the challenge and creativity of problem-solving — breaking down complex issues into smaller, meaningful building blocks that work together to solve real problems.</p>

    <p>I enjoy exploring new ideas and technologies and am constantly developing my skills across the full stack. Whether it’s building intuitive user interfaces or designing the logic behind the scenes, I strive to write clean, purposeful code that fits into the bigger picture.</p>

    <p>I'm excited to keep learning, building, and collaborating on projects that help me grow and make a meaningful impact.</p>

    <div class="skills">
        <h2>Skills & Technologies</h2>
        <div class="skills-pills">
            <span>Python</span>
            <span>Go</span>
            <span>JavaScript</span>
            <span>Java</span>
            <span>Rust</span>
            <span>HTML</span>
            <span>CSS</span>
            <span>FrontEnd</span>
            <span>BackEnd</span>
            <span>WebApps</span>
            <span>GitHub</span>
            <span>SQL</span>
            <span>ProjectManagement</span>
        </div>
    </div>

    <pre class="connect">
LinkedIn: <a href="https://www.linkedin.com/in/allen-leeyn/" target="_blank">https://www.linkedin.com/in/allen-leeyn/</a>
Email: <a href="mailto:leeyn.shun@gmail.com">leeyn.shun@gmail.com</a>
GitHub: <a href="https://github.com/AllenLeeyn" target="_blank">https://github.com/AllenLeeyn</a>
    </pre>
  </section>

  <section class="projects">
    <h2>Projects</h2>
    
    {% include projects/rt.html %}
    {% include projects/smart_road.html %}
    {% include projects/gritlab_hackathon.html %}
  </section>
</div>

<script type="module" src="./assets/main.js"></script>
