
    <div class="project">
      <h3>
        <a href="https://www.linkedin.com/posts/allen-leeyn_%C3%A5lands-idrott-faced-a-tough-problem-their-activity-7376511110902026240-aUT1?utm_source=share&utm_medium=member_desktop&rcm=ACoAAEOxCNIBJf8MsW38m5X2NRUqtpoBjccmkI4">
          Ålands Idrott x Consilia Data Analysis Challenge
        </a>
        <span class="tech-pill">Go</span>
        <span class="tech-pill">SQL</span>
        <span class="tech-pill">React</span>
        <span class="tech-pill">JavaScript</span>
      </h3>

      <p>
        During the first grit:lab hackathon, the Ålands Idrott x Consilia Data Analysis Challenge, 
        our team — Ekaterina Abrakhova, Othmane Afilali and Allen Leeyn — spent four sleepless days designing a solution.
        While I tackled the data reconciliation layer, Othmane crafted the UI and charts, 
        and Ekaterina tested for functionality and seamless user experience. 
      </p>
        <p>We built a lightweight local web app that:</p>
        <ul>
            <li>Reconciles club data from two sources (with different schemas and IDs)</li>
            <li>Processes the data into funding statistics for budgeting and auditability</li>
            <li>Allows users to enter or change values for budget calculation</li>
            <li>Visualizes distributions through clear dashboards</li>
        </ul>

        <div class="video-preview">
            <a href="https://www.linkedin.com/posts/allen-leeyn_%C3%A5lands-idrott-faced-a-tough-problem-their-activity-7376511110902026240-aUT1?utm_source=share&utm_medium=member_desktop&rcm=ACoAAEOxCNIBJf8MsW38m5X2NRUqtpoBjccmkI4" target="_blank">
            <img src="assets/image/aalands_video_preview.png" alt="Ålands Idrott Video Preview">
            <span class="play-button">&#9658;</span>
            </a>
        </div>
    </div>
