
    <div class="project">
      <h3>
        <a href="https://github.com/AllenLeeyn/smart_road">
          smart_road
        </a>
        <span class="tech-pill">Rust</span>
        <span class="tech-pill">SDL2</span>
      </h3>

      <p>
        This Rust project simulates a smart intersection system designed to manage the flow of autonomous vehicles (AVs). 
        The simulation uses a Crossing Manager that assigns time slots to approaching vehicles, 
        coordinating their movements to safely and efficiently cross the intersection without collisions.
      </p>

      <p>
        Instead of relying on traditional traffic signals, the Crossing Manager divides the intersection’s conflict area into collision zones.
        Vehicles are given specific entry times into these zones, ensuring that no two vehicles occupy the same zone at the same time.
        This models how future AV-dominated road systems could operate using precise timing and spatial awareness.
      </p>
      
        <div class="project-image">
            <img src="assets/image/smart_road.gif" alt="Smart Road Simulation" />
        </div>

    </div>
